<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" />
    <title>Subir video</title>
    </head>
<body>
    <h1>Sube un video para detectar objetos</h1>
    <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="video/*" required>
        <input type="submit" value="Upload Video">
    </form>
    <a href="/">Regresar</a>
</body>
</html>